* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fbfbff;
	font-family: "REM", sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

nav#navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav#navbar h1#name {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
	font-family: "Bebas Neue", sans-serif;
}

nav#navbar ul#contact-list {
    font-family: "REM", sans-serif;";
}

main#main {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    padding-right: 1rem;
}

div.container {
    margin-bottom: 3rem;
}

h2.title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

ul.list li.list-item {
    margin-bottom: 1rem;
}

p.name {
    font-weight: bolder;
}

p.date {
    font-style: italic;
}

p.description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}