* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Orbitron", 'Roboto', sans-serif;
}

nav {
	height: 10vh;
	background-color: #f5f5f5;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

nav div#info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

nav h1#name {
	font-size: 1.5rem;
	font-weight: 600;
}

nav h2#summary {
	font-size: 1.25rem;
	font-weight: 300;
}

nav ul#contact-links {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 1rem;
}

nav ul#contact-links li.contact-links-item a.contact-links-item-link {
	text-decoration: none;
}

nav ul#contact-links li.contact-links-item a#contact-links-item-brand-link p#contact-links-item-brand-heading {
	font-size: 1.25rem;
	font-weight: 600;
	color: #000;
}

nav ul#contact-links li.contact-links-item a#contact-links-item-brand-link p#contact-links-item-brand-heading:hover {
	color: #000080;
	text-shadow: 0.2rem 2px #ff0000;
}

main {
	min-height: 90vh;
	color: #f5f5f5;
	background-color: #000;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: center;
	padding: 1rem;
}

section.info-section {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 1rem;
	text-shadow: 0.25rem 2px #0000ff;
}

section#info-section-education {
	align-items: start;
	text-align: start;
}

section#info-section-experience {
	align-items: center;
	text-align: center;
}

section#info-section-skills {
	align-items: end;
	text-align: end;
}

section.info-section h3.section-title {
	font-size: 1.5rem;
	font-weight: 600;
	padding-bottom: 0.5rem;
	border-bottom: 1.5px solid #f5f5f5;
	text-shadow: 0.25rem 2px #8b0000;
}

section.info-section ul.section-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

section.info-section ul.section-list li.section-list-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section.info-section ul.section-list li.section-list-item p.section-list-item-title {
	font-weight: 700;
	text-shadow: 0.25rem 2px #000080;
}

section.info-section ul.section-list li.section-list-item p.section-list-item-description {
	font-style: italic;
}

section.info-section ul.section-list li.section-list-item p.section-list-item-date {
	font-size: 0.8rem;
	text-shadow: 0.25rem 2px #808080;
}