nav {
	height: unset;
	flex-direction: column;
	gap: 1rem;
	margin: auto;
}

nav h2#summary {
	display: none;
}

nav ul#contact-links li.contact-links-item a#contact-links-item-brand-link p#contact-links-item-brand-heading {
	display: none;
}

main {
	gap: 2rem;
}